@font-face {
  font-family: 'HudsonNY';

  src: url('../fonts/HudsonNY-Serif.woff2') format('woff2'),
    url('../fonts/HudsonNY-Serif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
